@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrainsMonoNF;
  src: url("../../public/JetBrainsMonoNF-Regular.woff2");
}

:root {
  font-family: JetBrainsMonoNF;
  font-size: 14px;
  
  --foreground-rgb: #282828;
  --background-start-rgb: #ebdbb2;
  --background-end-rgb: #d5c4a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fbf1c7;
    --background-start-rgb: #282828;
    --background-end-rgb: #3c3836;
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-start-rgb);
}
